<!-- BEGIN (Common indicator component) -->
<div id="concept">
  <h1>{{concept.name}}</h1> 
  <i>{{#__}}strConceptId{{/__}}: "{{concept.code}}"</i>
<!-- for demo purposes, the edit button is shown when the user is logged in but does nothing -->

  {{#user.username}}
  <input type="button" value="Edit"></input>
  {{/user.username}}
  
  <table>
    {{#concept.definition}}
    <tr>
      <th>{{#__}}strDef{{/__}}</th>
      <td>{{concept.definition}}</td>
    </tr>
    {{/concept.definition}}
    <tr>
      <th>{{#__}}strRelInd{{/__}}</th>
      <td>
        <ul>
          {{#concept.rel_object}}
            <li>
              <a href="{{approot}}/view/{{type}}/{{locale}}/{{code}}">{{name}} ({{type}})</a>
            </li>
          {{/concept.rel_object}}
        </ul>
      </td>
    </tr>
  </table>
</div>
<!-- END (Common indicator component) -->

