<!-- BEGIN (Common indicator component) -->
<div id="concept">
  <h1>{{concept.name}}</h1> 
  <i>{{#__}}strConceptId{{/__}}: "{{concept.code}}"</i>
<!-- for demo purposes, the edit button is shown when the user is logged in but does nothing -->

  {{#user.username}}
  <input type="button" value="Edit"></input>
  {{/user.username}}
  
  <table>
    {{#concept.definition}}
    <tr>
      <th>{{#__}}strDef{{/__}}</th>
      <td>{{{concept.definition}}}</td>
    </tr>
    {{/concept.definition}}

    {{#concept.rel_object.length}}
    <tr>
      <th colspan="2">{{#__}}strRelInd{{/__}}</th>
    </tr>
    {{#concept.rel_object}}
      <td>
        <a href="{{approot}}/view/{{type}}/{{locale}}/{{code}}">[{{type}}&nbsp;{{code}}]</a>
      </td>
      <td>
        <a href="{{approot}}/view/{{type}}/{{locale}}/{{code}}">{{name}}</a>
      </td>
    </tr>
    {{/concept.rel_object}}
    {{/concept.rel_object.length}}
  </table>
</div>
<!-- END (Common indicator component) -->

