<!-- BEGIN (Common header component) -->
<div id="header">
   <img src="{{approot}}/public/img/who-logo-en.jpg"></img>
   <span class="locale">
     [ 
       <a href="{{approot}}/en">EN</a> |
       <a href="{{approot}}/fr">FR</a> |
       <a href="{{approot}}/es">ES</a> 
     ]
   </span>
   <span class="authenticate">
     {{#user.username}}
     {{#__}}strLoggedInAs{{/__}}: <b>{{user.username}}</b>
     [ <a href="{{approot}}/auth/logout">{{#__}}strLogout{{/__}}</a> ]
     {{/user.username}}
     {{^user.username}}
     [ <a href="{{approot}}/view/login/{{locale}}">{{#__}}strLogin{{/__}}</a> ]
     {{/user.username}}
   </span>
</div>
<div id="title">
  <h1>{{#__}}strAppName{{/__}}</h1>
</div>
<!-- END (Common header component) -->
