<!-- BEGIN (Common indicator component) -->
<div id="indicator">
  <h1>{{object.name}}</h1> 
  <i>[ {{object.type}} ID "{{object.code}}" ]</i>
<!--
  <i>{{#__}}strIndId{{/__}}: "{{object.code}}"</i>
-->
<!-- for demo purposes, the edit button is shown when the user is logged in but does nothing -->

  {{#user.username}}
  <input type="button" value="Edit"></input>
  {{/user.username}}
  <table>
    {{#object.property}}
    {{#value}}
    <tr>
      <th>
        <a href="{{approot}}/view/property/{{locale}}/{{code}}">{{label}}</a>
     </th>
      <td>
        {{#concept_id}}<a href="{{approot}}/view/concept/{{locale}}/{{concept_id}}">{{{value}}}</a>{{/concept_id}}
        {{^concept_id}}{{{value}}}{{/concept_id}}
      </td>
    </tr>
    {{/value}}
    {{/object.property}}

    {{#object.chld.length}}
    <tr>
      <th colspan="2">Child objects</th> 
    </tr>
    {{#object.chld}}
    <tr>
      <td>
        <a href="{{approot}}/view/{{type}}/{{locale}}/{{code}}">[{{type}}&nbsp;{{code}}]</a>
      </td>
      <td>
        <a href="{{approot}}/view/{{type}}/{{locale}}/{{code}}">{{name}}</a>
      </td>
    </tr>
    {{/object.chld}}
    {{/object.chld.length}}

    {{#object.prnt.length}}
    <tr>
      <th colspan="2">Parent objects</th>
    </tr>
    {{#object.prnt}}
    <tr>
      <td>
        <a href="{{approot}}/view/{{type}}/{{locale}}/{{code}}">[{{type}}&nbsp;{{code}}]</a>
       </td>
      <td>
        <a href="{{approot}}/view/{{type}}/{{locale}}/{{code}}">{{name}}</a>
       </td>
    </tr>
    {{/object.prnt}}
    {{/object.prnt.length}}

    {{#object.note.length}}
    <tr>
      <th colspan="2">{{#__}}strFootnotes{{/__}}</ht>
    </tr>
    {{#object.note}}
    <tr>
      <td>&nbsp</td>
      <td>
          {{.}}
      </td>
    </tr>
    {{/object.note}}
    {{/object.note.length}}
  </table>
</div>
<!-- END (Common indicator component) -->

