<!-- BEGIN (Common indicator component) -->
<div id="concept">
  <h1>{{property.name}} ({{property.code}})</h1> 
<!-- for demo purposes, the edit button is shown when the user is logged in but does nothing -->

  {{#user.username}}
  <input type="button" value="Edit"></input>
  {{/user.username}}
  
  <table>
    {{#property.definition}}
    <tr>
      <th>Definition</th>
      <td>{{property.definition}}</td>
    </tr>
    {{/property.definition}}
    <tr>
      <th>Concepts</th>
      <td>
        <ul>
          {{#property.concept}}
            <li>
              <a href="/view/concept/{{code}}">{{name}}</a>
            </li>
          {{/property.concept}}
        </ul>
      </td>
    </tr>
  </table>
</div>
<!-- END (Common indicator component) -->

