<!-- BEGIN (Common indicator component) -->
<div id="concept">
  <h1>{{property.name}}</h1> 
  <i>{{#__}}strPropId{{/__}}: "{{property.code}}"</i>
<!-- for demo purposes, the edit button is shown when the user is logged in but does nothing -->

  {{#user.username}}
  <input type="button" value="Edit"></input>
  {{/user.username}}
  
  <table>
    {{#property.definition}}
    <tr>
      <th>{{#__}}strDef{{/__}}</th>
      <td>{{property.definition}}</td>
    </tr>
    {{/property.definition}}
    {{#property.concept.length}}
    <tr>
      <th colspan="2">{{#__}}strConcepts{{/__}}</th>
    </tr>

    {{#property.concept}}
    <tr>
      <td>
        <a href="{{approot}}/view/concept/{{locale}}/{{code}}">[concept&nbsp;{{code}}]</a>
      </td>
      <td>
        <a href="{{approot}}/view/concept/{{locale}}/{{code}}">{{name}}</a>
      </td>
    </tr>
    {{/property.concept}}
    {{/property.concept.length}}
  </table>
</div>
<!-- END (Common indicator component) -->

