<!-- BEGIN (common search component) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        type="text/javascript">
</script>
<script src="/public/js/search.js"
        type="text/javascript">
</script>
<div id="search">
  Search:
  <input id="search_query" type="text"></input>
  <button id="search_go" title="search" type="submit">Search</button>
  <button id="search_clear" title="clear" type="submit">Clear</button>
</div>
<div id="indicator_list">
</div>


<!-- END (common search component) -->

