<!-- BEGIN (common search component) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        type="text/javascript">
</script>
<script type="text/javascript">
  var approot = "{{{approot}}}";
  var locale = "{{{locale}}}";
</script>
<script src="{{approot}}/public/js/search.js"
        type="text/javascript">
</script>
<div id="search">
  {{#__}}strSearch{{/__}}:
  <input id="search_query" type="text"></input>
  <button id="search_go" 
          title="{{#__}}buttonSearch{{/__}}" 
          type="submit">
    {{#__}}buttonSearch{{/__}}
  </button>
  <button id="search_clear" 
          title="{{#__}}buttonClear{{/__}}" 
          type="submit">
    {{#__}}buttonClear{{/__}}
  </button>
</div>
<div id="indicator_list">
&nbsp;
</div>


<!-- END (common search component) -->

